@import "../../global.scss";

.fm-job-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px 0px;
  padding: 12px;
  padding-left: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);

  &.featured {
    padding-left: 12px;
    border-left: 8px solid $color-very-dark-grayish-cyan;
  }

  @media #{$screen-medium} {
    margin: 24px 0px;
    flex-direction: row;
    align-items: center;
  }

  .fm-job-logo {
    width: 56px;
    height: 56px;
    margin-top: -40px;
    margin-left: 12px;

    @media #{$screen-medium} {
      width: 64px;
      height: 64px;
      margin: 0px 20px;
    }
  }

  .fm-job-body {
    padding: 12px;

    @media #{$screen-medium} {
      min-width: 320px;
    }

    .fm-job-company {
      display: flex;
      align-items: center;

      span:not([class]) {
        margin-right: 8px;
        font-size: 0.9em;
        font-weight: $font-weight-bold;
        color: $color-desaturated-dark-cyan;
      }

      .fm-job-badge {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 4px;
        padding: 4px 8px 2px;
        font-size: 0.8em;
        font-weight: $font-weight-bold;
        color: $color-background;
        border-radius: 32px;

        &.new {
          background-color: $color-desaturated-dark-cyan;
        }

        &.featured {
          background-color: $color-very-dark-grayish-cyan;
        }
      }
    }

    .fm-job-position {
      padding: 12px 0px;
      font-weight: $font-weight-bold;
      color: $color-very-dark-grayish-cyan;
      transition: $time-transition-normal;

      &:hover {
        color: $color-desaturated-dark-cyan;
        cursor: pointer;
      }
    }

    .fm-job-details {
      display: flex;
      list-style: none;

      li {
        font-size: 0.9em;
        font-weight: $font-weight-medium;
        color: $color-dark-grayish-cyan;

        &:not(:first-child) {
          list-style: inside;
          margin-left: 16px;
        }
      }
    }
  }

  .fm-job-filters {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 8px;
    padding-top: 16px;
    border-top: 1px solid $color-dark-grayish-cyan;

    @media #{$screen-medium} {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      margin-left: auto;
      border-top: none;
      padding: 0px;
    }

    .fm-job-filter {
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 8px;
      font-size: 0.8em;
      font-weight: $font-weight-bold;
      color: $color-desaturated-dark-cyan;
      background-color: $color-filter-tablets;
      border: none;
      border-radius: 4px;
      transition: $time-transition-normal;

      &:hover {
        background-color: $color-desaturated-dark-cyan;
        color: $color-filter-tablets;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      @media #{$screen-medium} {
        margin: 0px 2px 2px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
